@import '../styles/common.scss';

.bet {
  @extend .control-panel;

  & > div {
    top: 70px;

    @media (min-width: 1200px) {
      top: 120px;
    }

    & > * {
      margin-bottom: 8px;
    }
  }
}

.title {
  font-size: 2vw;
}

.section {
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  background: rgba($color: #111, $alpha: 0.6);
  border-radius: 8vw;

  padding: 8px 24px;
  margin: 0 8px;

  & > * {
    margin: 0 8px;
  }
}

@mixin on-circle($item-count, $circle-size) {
  > * {
    position: absolute;

    $offset: 10;
    $angle: (180 / $item-count);
    $rot: $angle / 2 + ($offset * 2);
    $mid: ceil($item-count / 2);
    top: 50%;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: translate(-50%, -50%)
          rotate($rot * -1deg)
          translate($circle-size / 2 * -1)
          rotate($rot * +1deg)
          translate(($i - $mid) * 2.2em, 0);
      }

      $rot: $rot + $angle - $offset;
    }
  }
}

.controls {
  @include on-circle($item-count: 5, $circle-size: 25vw);

  position: absolute;
}
