.frame {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotation {
  animation: rotation 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;

  @media (orientation: landscape) {
    display: none;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
  }
}

.mask {
  width: 100%;
  height: 400vh;
  z-index: 1;

  background: rgba($color: #000000, $alpha: 0.9);

  pointer-events: all;

  @media (orientation: portrait) {
    display: none;
  }
}

.scroll {
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -50%);

  animation: move 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@keyframes move {
  from {
    top: 55vh;
  }

  to {
    top: 50vh;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.main {
  position: fixed;
  display: flex;

  @media (orientation: portrait) {
    display: none;
  }
}
