.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  @extend .center;
  flex-direction: column;

  position: absolute;
  bottom: 0;
}

$unit: 40px;

.field {
  display: flex;
  align-items: center;

  background: rgba($color: #111, $alpha: 0.8);
  height: $unit;
  min-width: $unit * 4;
  border-radius: $unit;

  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);

  margin: 0 16px 8px 16px;

  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
  }

  svg {
    width: 24px !important;
    height: 24px !important;

    margin: 0 0 0 16px;
  }

  h5 {
    color: #ff9f0a;
  }
}
