.gameRules {
  section {
    display: flex;
    flex-direction: column;

    margin: 8px;

    h3 {
      text-align: center;
    }

    h4 {
      margin: 8px;
    }
  }

  section > div {
    margin: 16px 0;
  }

  ul {
    margin: 0;
  }

  li {
    margin: 8px 0;
  }

  table {
    border-collapse: collapse;

    text-align: center;

    td {
      padding: 8px;
      border: 1px solid white;
    }
  }
}
