.override {
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);

  @media screen and (min-device-width: 1200px) {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.6);

    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.6);
    }
  }
}

.button {
  @extend .override;
  @extend .shadow;
  @extend .center;

  pointer-events: all;
  cursor: pointer;

  padding: 1.3vw;

  background: #191919;
  border-radius: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
