.control {
  display: flex;
  flex-direction: column;

  text-align: center;

  button {
    height: 48px;
    width: 48px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  h5 {
    position: absolute;

    top: 110%;
    left: 50%;

    transform: translate(-50%);
  }
}
