.control {
  display: flex;
  flex-direction: column;

  text-align: center;

  $unit: 5vw;

  button {
    height: $unit;
    width: $unit;

    svg {
      width: $unit;
      height: $unit;
    }
  }

  h5 {
    position: absolute;

    top: 110%;
    left: 50%;

    font-size: $unit / 4;

    transform: translate(-50%);
  }

  @media (min-width: 1200px) {
    $unit: 3vw;

    button {
      height: $unit;
      width: $unit;

      svg {
        width: $unit;
        height: $unit;
      }
    }

    h5 {
      font-size: $unit / 4;
    }
  }
}
