@mixin element {
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin fit {
  max-width: 100%;
  max-height: 100%;
}

.layout {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  > div {
    position: relative;
    overflow: hidden;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  @include fit();

  animation: fade 1s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.logo {
  @include element();
  width: 36vw;

  top: 45vh;
  left: 50vw;

  opacity: 0;

  animation: logo 600ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes logo {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.click {
  @include element();
  top: 97vh;
  left: 50vw;

  min-width: 24vw;
  text-align: center;

  background-color: rgba($color: #000000, $alpha: 0.6);
  border-radius: 16px 16px 0 0;
  padding: 16px 32px;

  h4 {
    animation: fade 1s;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
